* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

#page-wrapper {
    display: block;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
}

header {
    height: 41px;
    background-color: rgb(200, 100, 100);
}

#header-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    width: 100%;
    max-width: 309px;
    margin: 0 auto;
}

nav > ul {
    list-style-type: none;
}

nav ul > li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul > li:hover {
    background-color: rgb(220, 150, 150);
}

.navlink {
    text-decoration: none;
    font-weight: bold;
    color: rgb(100, 50, 100);
}

.navlink:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 10px;
}

h1, h2 {
    max-width: 600px;
    margin: 0 auto;
    color: rgb(100, 50, 100);
}

#h1-music, #h1-add {
    max-width: 600px;
    margin: 0 auto;
}

p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.7;
    color: rgb(100, 50, 100);
}

#first-paragraph {
    margin-top: 5px;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 20px 10px;
    margin: 0 auto;
    border: 1px solid rgb(200, 130, 80);
    border-radius: 10px;
    margin-top: 10px;
}

label, input, select {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

label {
    color: rgb(100, 50, 100);
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 5px 10px;
    border: 0.5px solid rgb(220, 150, 100);
    border-radius: 5px;
    background-color: rgba(220, 150, 100, 0.3);
}

select {
    margin-bottom: 5px;
}

span {
    display: block;
    color: rgb(250, 0, 0);
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* 
.rating {
    display: none;
} 
*/

#submit {
    background-color: rgb(220, 150, 100);
    border-color: rgb(200, 130, 80);
    margin-bottom: 5px;
}

#reset {
    background-color: rgb(220, 150, 100);
    border-color: rgb(200, 130, 80);
    margin-top: 5px;
}

#submit:hover, #reset:hover {
    cursor: pointer;
    color: white;
}

#confirm {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

#error {
    color: rgb(250, 0, 0);
    font-weight: bold;
}

#featured-album {
    margin: 10px auto;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(100, 50, 100);
    background-color: rgba(255, 150, 50, 0.5);
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border: 2px solid rgb(200, 130, 130);
}

td {
    width: 50%;
}

.table-header {
    font-weight: bold;
}

.album {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid black;
}

footer {
   height: 70px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgb(200, 130, 130);
}

#footer-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#copyright {
    text-align: center;
}