@model MusicApp.Views.Album.AlbumModel
@{
	ViewData["title"] = "Album";
}

<h1>@ViewData["title"]</h1>
<p>Earl Grey ipsum dolor sit amet English Breakfast Tea 
	Chamomile Bancha Lipton Assam Rooibos English Breakfast Tea 
	Bancha Twinings Biluochun Kukicha Ceylon Peppermint PG Tips 
	Chun Mee Lapsang Souchong Tie Kuan Yin Pu Erh Nilgiri Chai.</p>
<p>Yunnan Nilgiri Tie Kuan Yin Keemun Ceylon Rooibos Chai Peppermint 
	Chun Mee Earl Grey Keemun Russian Caravan Russian Caravan 
	Gyokuro Assam Ginger Ceylon Ginger Lipton English Breakfast Tea.</p>
